@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

* {
  box-sizing: border-box;


}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-poppins), sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--agriox-font-2, "Averia Sans Libre", cursive);
}

.bg-white{
  background-color: var(--color-white);
}

:root {
  --light-yellow: #f1cf69;
  --deepest-green: #334b35;
  --light-green: #6d8c54;
}

/* Custom container to control max-width */
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width:768px) {
  .container {
    max-width: 760px;
  }
}

@media(min-width:1024px) {
  .container {
    max-width: 960px;
  }
}

@media(min-width:1280px) {
  .container {
    max-width: 1200px;
  }
}

/* mobile menu stylees*/
.mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
  transform: translateX(0);
}

.overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Hero section slider styles */
.swiper-slide-active .slide-image {
  transform: scale(1);
}

.slide-image {
  transform: scale(1.1);
  transition: transform 10s ease-out;
}

.hero_bottom_img::before {
  content: "";
  width: 10000px;
  height: 100%;
  position: absolute;
  right: 50%;
  top: -215px;
  background-color: #f6f4ec;
}


/* about section style */

.about_img {
  position: relative;
}

.about_img::before {
  position: absolute;
  background-color: var(--deepest-green);
  content: "";
  width: 28px;
  height: 110px;
  left: -74px;
  bottom: 0;
  border-radius: 0 0px 6px 6px;
}

.about_img::after {
  position: absolute;
  left: -30px;
  bottom: 0;
  width: 30px;
  height: 350px;
  background: var(--light-yellow);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  content: "";
}



.agricultural_img::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: var(--light-green);
  border-radius: 10px;
  right: 0px;
  top: -21px;
  left: 175px;
}

.agricultural_img::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: var(--light-yellow);
  border-radius: 5px;
  right: 0px;
  top: -28px;
  left: 207px;
}

.hero_bottom_video::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;
  border-radius: 8px;
}

.hero_bottom_video::after {
  content: "";
  width: 28px;
  height: 81px;
  background-color: var(--light-yellow);
  position: absolute;
  right: -38px;
  top: 0;
  border-radius: 10px;
}

.agriculture_matters::before {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.project .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #adb7ae;
  opacity: 0.8;
}

.project .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project .swiper-button-next,
.project .swiper-button-prev {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .swiper-button-next:after,
.project .swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}

.projectSwiper {
  padding-bottom: 50px !important;
}

.project .swiper-pagination-bullet-active {
  background-color: rgb(35, 80, 35) !important;
  width: 15px;
  height: 15px;
}
html {
  scroll-behavior: smooth;
}
